.pets{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.adopt-form, .Queue {
    text-align: center;
    margin-bottom: 5px;
}

.Queue{
    background-color: cornflowerblue;
    padding: 5px;
}

.PetSquare {
    box-shadow: 10px 10px 8px #888888;
    background-color: cornflowerblue;
    padding: 5px;
    margin-bottom: 15px;
    text-align: center;
}

@media all and (min-width: 950px) {
    .pets{
        flex-direction: row;
    }
}